.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}



.main-pic{
  margin-top:60px;
  padding-bottom:30px;
}

.App-footer{
  background-color:lightcoral;
  width:100%;
  height:100%;
  padding-top:10px;
}

.App-body{
  background-color:lightcyan;
}

#list-dest li{
  list-style-type: none;
  display:inline-block;
  padding-bottom:10px;
  padding-left:30px;
  padding-right:30px;
  font-size:24px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#guide-list{
  display:grid;
  padding-bottom:50px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  margin-left:40px;
}

.guide-item{
border:3px silver solid;
margin-right:40px;
margin-bottom:40px;
line-height:35px;
vertical-align:middle;
}